/* Page setup */
body {
  margin: 0;
  padding: 0;
  color: #f8f9fa;
}

a:link {
  color: #cbab9f;
  text-decoration: none;
}

a:visited {
  color: #cbab9f;
  text-decoration: none;
}

a:hover {
  color: #f46d43;
  text-decoration: underline;
}

/*overlay*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  background-image: url("./images/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

.credit {
  font-size: .8vw;
}

.overlay-content {
  position: relative;
  width: 40%;
  top: 30px;
  left: 20px;
  text-align: left;
  margin-left: 30px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.85);
  color: #d5d5d5;
  font-size: 1.1vw;
  font-family: 'Roboto', sans-serif;
  line-height: 1.8vw;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.2s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*map and features*/
#map {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
}

#container {
  background: rgba(82, 82, 82, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  overflow-x: auto;
  overflow-y: auto;
  z-index: 2;
}

#features {
  background: rgba(18, 18, 18, 0.85);
  position: absolute;
  color: #d5d5d5;
  width: 40%;
  top: 30px;
  left: 20px;
  padding:20px;
  box-sizing: border-box;
  font-size: 1.1vw;
  font-family: 'Roboto', sans-serif;
  line-height: 1.8vw;
  z-index: 3;
}

h1 {
  font-size: 3.9vw;
  line-height: 4.1vw;
  font-family: 'Inter Bold', sans-serif;
}

h2 {
  font-size: 2.1vw;
  line-height: 2.2vw;
  font-family: 'Inter Bold', sans-serif;
}

img {
  max-width: 75%;
}

section {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  opacity: 0.25;
}

/* Chapters */
section.active {
  opacity: 1;
}

section:last-child {
  border-bottom: none;
  margin-bottom: 200px;
}

/* Zone toggles */
#menu {
  background: #000000;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
  border-radius: 3px;
  width: 70px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  font-family: 'Open Sans', sans-serif;
}

#menu a {
  font-size: 12px;
  color: #000000;
  display: block;
  margin: 0;
  padding: 0;
  padding: 8px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #4d4544;
  color: #ffffff;
}

#menu a.active {
  background-color: #1f2020;
  color: #ffffff;
}

#menu a.active:hover {
  background: #000000;
}
