/* get rid of the browser's default margin and padding around the body */
body {
  margin: 0;
  padding: 0;
}

/* absolute position the map container as full screen, leaving 300 pixels on the left */
#map {
  width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
}

/* sidebar is fixed with and positioned to the left */
#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 35%;
  background:rgba(0,0,0,0.5);
  color: #FFF;
  padding: 25px;
  box-sizing: border-box;
  overflow:hidden;
  z-index: 9;
}

#features {
  background:rgba(0,0,0,0.5);
  color: #FFF;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: scroll;
  z-index: 11;
}

section {
padding: 25px 50px;
line-height: 25px;
border-bottom: 1px solid #ddd;
opacity: 0.25;
font-size: 13px;
}
section.active {
opacity: 1;
}
section:last-child {
border-bottom: none;
margin-bottom: 200px;
}
